.hbox {
    width: auto;
    height: auto;
    display:flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

#gameScreen {
    background-color: aqua;
    height:fit-content;
    width: 475px;
    display:flex;
    flex-flow: column;
    padding: 2px;
}

.gameSquare {
    height:auto;
    width:auto;
}

.gameRow {
    width:100%;
    height:fit-content;
    margin-top:2px;
    margin-bottom:2px;
    display: flex;
    flex-wrap: nowrap;
}

#piecesList {
    width: fit-content;
    height: fit-content;
    background-color: white;
}

.chessPieceDiv {
    width:auto;
    height: auto;
    display:flex;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.chessPieceImg {
    width:75px;
    height:75px;
}