.enemyAnimation {
    animation-name: moveDownAnimation;
    animation-duration: 3s;
    position:relative;
}
@keyframes moveDownAnimation {
    0%   {left:0px; top:0px;}
    100% {left:0px; top:79px;}
}