:root {
    --gamePieceDim:75px;
    --gamePieceBorder: 2px solid #fbec5d; 
}

#gameScreen {
    background-color: aqua;
    height:fit-content;
    width: 475px;
    display:flex;
    flex-flow: column;
    padding: 2px;
}

.gameSquare {
    height:auto;
    width:auto;
    flex-grow: 1;
    width:75px;
    height:75px;
    
    display: flex;
    justify-content: center;
    top:50%;

    /*TODO: figure if this should be modified*/
    background-color: #fbec5d;
    margin-left: 1px;
    margin-right:1px;
    
}

.gameRow {
    width:100%;
    height:fit-content;
    margin-top:2px;
    margin-bottom:2px;
    display: flex;
    flex-wrap: nowrap;
}

#piecesList {
    /*NOTE: might wanna switch to using one, or neither */
    width: 80px;
    height: fit-content;
    background-color: rgb(14, 195, 108);

    display:flex;
    flex-direction: column;
    justify-content: center;
}

.chessPieceDiv {
    width: var(--gamePieceDim);
    height: var(--gamePieceDim);
    padding-top: 5px;
    padding-bottom: 5px;
}

.chessPieceImg {
    width:var(--gamePieceDim);
    height:var(--gamePieceDim);
    margin-top: 5%; /*TODO: figure if reasonable to keep*/
}